div.question {
    margin: 2em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
}

div.subquestion {
    padding: 1em;
}

div.sq-statement, div.scores {
    display: inline;
    width: 50%;
}

div.scores table {
    width: 50%;
    
}